/* 
  title: bujri-whatabook1.css
  author: ngi bujri
  date: february 16 2023
  description: app demonstrating use of XML
*/

/* left align text in #selectedBook */
#selectedBook {
  text-align: justify;
}
